body {
	background-color: black;
}

.header {
	margin: 0 auto;
	width: 100%;
	top: 50%;
	color: white;
	font-size: 300%;
	text-align: center;
}

.adobe { font-family: "Adobe Garamond" }
.arial { font-family: "Arial" }
.baskerville { font-family: "Baskerville" }
.bodoni { font-family: "Bodoni" }
.futura { font-family: "Futura" }
.georgia { font-family: "Georgia" }
.gillsans {	font-family: "Gill Sans" }
.helvetica { font-family: "Helvetica" }
.lucidagrande {	font-family: "Lucida Grande" }
.museoslab { font-family: "Museo Slab" }
.palatino { font-family: "Palatino" }
.rockwell { font-family: "Rockwell" }
.tahoma { font-family: "Tahoma" }
.trebuchetms { font-family: "Trebuchet MS" }
.verdana { font-family: "Verdana" }

@media all and (min-device-width: 200px) and (max-device-width: 500px){
	body {
		font-size: 250%;
	}
}